{% extends 'front/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="background-color: #f8f9fa; border-radius: 10px;">
        <div class="card-body">
            <h1 class="text-center text-primary mb-4">Privacy Policy</h1>
            <p class="mb-4">At Ardi Marble, accessible from [website], one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Ardi Marble and how we use it.</p>
            
            <h2 class="text-info mb-3">Information Collection and Use</h2>
            <p class="mb-4">We collect several different types of information for various purposes to provide and improve our Service to you.</p>
            
            <h2 class="text-info mb-3">Types of Data Collected</h2>
            <p class="mb-4">Personal Data: While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.</p>
            
            <h2 class="text-info mb-3">Use of Data</h2>
            <p>Ardi Marble uses the collected data for various purposes:
                <ul class="mb-4">
                    <li>To provide and maintain our Service</li>
                    <li>To notify you about changes to our Service</li>
                    <li>To provide customer support</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}
