{% load static %}
<section class="services_section py-5" >
    <div class="container" >
        <div class="heading_container text-center mb-5" style="align-items: center;"> 
            <h2>Our Services</h2>
        </div>
        <div class="row" style="background-color: lightblue; padding-top: 20px;">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service_box text-center">
                    <img src="{% static 'images/design.jpg' %}" alt="Custom Marble Design" class="img-fluid mb-3 rounded" style="height: 200px;">
                    <h4><strong>Custom Marble Design</strong></h4>
                    <p>We offer bespoke marble design services tailored to your specific needs. Our skilled artisans can create unique marble pieces for any space.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service_box text-center">
                    <img src="{% static 'images/installation.jpg' %}" alt="Installation Services" class="img-fluid mb-3 rounded" style="height: 200px;">
                    <h4><strong>Installation Services</strong></h4>
                    <p>Our professional installation team ensures your marble products are installed with precision and care, guaranteeing longevity and aesthetic appeal.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service_box text-center">
                    <img src="{% static 'images/polishing.jpg' %}" alt="Marble Polishing and Restoration" class="img-fluid mb-3 rounded" style="height: 200px;">
                    <h4><strong>Marble Polishing and Restoration</strong></h4>
                    <p>Keep your marble looking new with our polishing and restoration services. We can restore the shine and beauty of aged marble surfaces.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service_box text-center">
                    <img src="{% static 'images/consultation.jpg' %}" alt="Consultation and Planning" class="img-fluid mb-3 rounded" style="height: 200px;">
                    <h4><strong>Consultation and Planning</strong></h4>
                    <p>Our experts provide consultation and planning services to help you choose the right marble and design for your project.</p>
                </div>
            </div>
        </div>
    </div>
</section>
