{% extends 'front/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="background-color: #f8f9fa; border-radius: 10px;">
        <div class="card-body">
            <h1 class="text-center text-primary mb-4">Terms & Conditions</h1>
            <p class="mb-4">Welcome to Ardi Marble. These terms and conditions outline the rules and regulations for the use of Ardi Marble's Website.</p>
            <p class="mb-4">By accessing this website, we assume you accept these terms and conditions. Do not continue to use Ardi Marble if you do not agree to all of the terms and conditions stated on this page.</p>
            
            <h2 class="text-info mb-3">License</h2>
            <p class="mb-4">Unless otherwise stated, Ardi Marble and/or its licensors own the intellectual property rights for all material on Ardi Marble. All intellectual property rights are reserved. You may access this from Ardi Marble for your own personal use subjected to restrictions set in these terms and conditions.</p>
            
            <h2 class="text-info mb-3">User Comments</h2>
            <p>Certain parts of this website offer the opportunity for users to post and exchange opinions and information in certain areas of the website. Ardi Marble does not filter, edit, publish, or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Ardi Marble, its agents, and/or affiliates. Comments reflect the views and opinions of the person who posts their views and opinions.</p>
        </div>
    </div>
</div>
{% endblock %}
